<p id="notice"><%= notice %></p>

<p>
  <b>Service:</b>
  <%= @section.service_id %>
</p>

<p>
  <b>Section name:</b>
  <%= @section.section_name %>
</p>

<p>
  <b>Schedule:</b>
  <%= @section.schedule %>
</p>

<p>
  <b>Building:</b>
  <%= @section.building %>
</p>

<p>
  <b>Space:</b>
  <%= @section.space %>
</p>

<p>
  <b>Coordenator:</b>
  <%= @section.coordenator %>
</p>

<p>
  <b>Mail:</b>
  <%= @section.mail %>
</p>

<p>
  <b>Email:</b>
  <%= @section.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @section.telephone %>
</p>

<p>
  <b>Extension:</b>
  <%= @section.extension %>
</p>

<p>
  <b>Fax:</b>
  <%= @section.fax %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
