<h1>Listing course_degrees</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Degree</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_degrees.each do |course_degree| %>
  <tr>
    <td><%= course_degree.course_id %></td>
    <td><%= course_degree.degree_id %></td>
    <td><%= link_to 'Show', course_degree %></td>
    <td><%= link_to 'Edit', edit_course_degree_path(course_degree) %></td>
    <td><%= link_to 'Destroy', course_degree, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course degree', new_course_degree_path %>
