<h1>Listing professors</h1>

<table>
  <tr>
    <th>Professor</th>
    <th>Professor name</th>
    <th>Sector</th>
    <th>Category</th>
    <th>Room</th>
    <th>Building</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @professors.each do |professor| %>
  <tr>
    <td><%= professor.professor_id %></td>
    <td><%= professor.professor_name %></td>
    <td><%= professor.sector %></td>
    <td><%= professor.category %></td>
    <td><%= professor.room %></td>
    <td><%= professor.building %></td>
    <td><%= link_to 'Show', professor %></td>
    <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
    <td><%= link_to 'Destroy', professor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Professor', new_professor_path %>
