<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Concierge</title>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.6", "application" %>
  <%= javascript_include_tag "login", "application" %>
  <script type="text/javascript">
            $(document).bind("mobileinit", function(){
                $.extend(  $.mobile , {
                    ajaxFormsEnabled: false
                });
            });
  </script>
  <%= javascript_include_tag "jquery.mobile-1.0a4.1", "application" %>
  <%= csrf_meta_tag %>

  <!--
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css"/>
<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>          -->

</head>
<body>

<div data-role="page" data-position="inline">
  <div data-role="header" data-position="fixed">

    <h1 id="logo" class="ui-title">Concierge</h1>

    <div data-role="controlgroup" class="ui-btn-right" data-type="horizontal" >

      <% if current_user %>
        Logged in as <%= current_user.userName %>.
        <a id="login" href="http://localhost:3000/logout" data-role="button" data-icon="gear">Logout</a>
      <% else %>
        <a href="http://localhost:3000/signin" data-role="button" data-icon="gear"  >Sign In</a>
        <a href="http://localhost:3000/login" data-role="button"  data-icon="gear">Login</a>
      <% end %>
    </div>


  </div>

  <div id="content" data-role="content">
    <%= yield %>
  </div>

    <div data-role="footer" data-role='fieldcontain' width="100%" class="hidden_home_search" style="text-align:center; visibility:hidden">
      <form id='home_searchform'>
        <input type='search' id='search' value='' width="100%"/>
      </form>
    </div>

  <div data-role="footer" data-id="navbar" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li style="width:25%"><a href="b.html" data-icon="grid">History</a></li>
        <li id="tab_bar_search" style="width:50%">
          <a href="" data-icon="search">Search</a></li>
        <li style="width:25%"><a href="b.html" data-icon="gear">Options</a></li>
      </ul>
    </div>
    <!-- /navbar -->
  </div>
  <!-- /footer -->

</div>


</body>
</html>