<p id="notice"><%= notice %></p>

<p>
  <b>Organ name:</b>
  <%= @organ.organ_name %>
</p>

<p>
  <b>Building:</b>
  <%= @organ.building %>
</p>

<p>
  <b>Space:</b>
  <%= @organ.space %>
</p>

<p>
  <b>President:</b>
  <%= @organ.president %>
</p>

<p>
  <b>Subdirector:</b>
  <%= @organ.subdirector %>
</p>

<p>
  <b>Mail:</b>
  <%= @organ.mail %>
</p>

<p>
  <b>Email:</b>
  <%= @organ.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @organ.telephone %>
</p>

<p>
  <b>Extension:</b>
  <%= @organ.extension %>
</p>

<p>
  <b>Fax:</b>
  <%= @organ.fax %>
</p>


<%= link_to 'Edit', edit_organ_path(@organ) %> |
<%= link_to 'Back', organs_path %>
