<h1>Listing services</h1>

<table>
  <tr>
    <th>Servicename</th>
    <th>Provider</th>
    <th>Type</th>
    <th>Ranking</th>
    <th>Imgpath</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.serviceName %></td>
    <td><%= service.provider %></td>
    <td><%= service.servicetype %></td>
    <td><%= service.ranking %></td>
    <td><%= service.imgPath %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
