<p id="notice"><%= notice %></p>

<p>
  <b>Servicename:</b>
  <%= @service.serviceName %>
</p>

<p>
  <b>Provider:</b>
  <%= @service.provider %>
</p>

<p>
  <b>Type:</b>
  <%= @service.servicetype %>
</p>

<p>
  <b>Ranking:</b>
  <%= @service.ranking %>
</p>

<p>
  <b>Imgpath:</b>
  <%= @service.imgPath %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
