<p id="notice"><%= notice %></p>

<p>
  <b>Organ:</b>
  <%= @secretary.organ_id %>
</p>

<p>
  <b>Name:</b>
  <%= @secretary.name %>
</p>

<p>
  <b>Email:</b>
  <%= @secretary.email %>
</p>


<%= link_to 'Edit', edit_secretary_path(@secretary) %> |
<%= link_to 'Back', secretaries_path %>
