<h1>Listing ref_entities</h1>

<table>
  <tr>
    <th>Service</th>
    <th>Entity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ref_entities.each do |ref_entity| %>
  <tr>
    <td><%= ref_entity.service_id %></td>
    <td><%= ref_entity.entity %></td>
    <td><%= link_to 'Show', ref_entity %></td>
    <td><%= link_to 'Edit', edit_ref_entity_path(ref_entity) %></td>
    <td><%= link_to 'Destroy', ref_entity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ref entity', new_ref_entity_path %>
